.teamcardcont{
    gap: 1rem;
}

.active{
    width: 344px;
    height: 109px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #E3B748;
    padding: 10px;
    color: var(--black-color);
}

.teamcardcont img{
    width: 68px;
height: 68px;
flex-shrink: 0;
border-radius: 68px;
}


.teamsname{
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}

