.cards{
    width: 320px;
height: 325px;
top: 1615px;
left: 146px;
border-radius: 14px;
border: 1.4px solid rgba(255, 255, 255, 0.10);
display:flex;
flex-direction: column;
row-gap: 16px;
border-radius: 14px;
color: white;
padding-left: 10px;
}

.cardimg{
    width: 95px;
    height: 95px;
    top: 1643px;
    left: 950px;
    border: 1.4px rgba(25,25,25,0.1);
    background-color: var(--white-color);
    border-radius: 100%;
    fill: var(--white-color,#FFF);
    stroke-width: 1.4px;
    stroke: rgba(25, 25, 25, 0.10);
    margin: 8px 0 0 10px;
}

.cardimg img{
display: flex;
width: 62px;
height: 62px;
top: 1662px;
left: 970px;
justify-content: center;
align-items: center;
flex-shrink: 0;
padding: 4px;
margin: 14px;
}

.cards h3{
    width: 227px;
height: 24px;
top: 1772px;
left: 949px;
font-family: Inter;
font-size: 24px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}

.cards p{
    width: 293px;
height: 69px;
top: 1822px;
left: 949px;
opacity: 0.3px;
font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
}

.cards button{
    width: 121px;
    height: 43px;
    top: 1913px;
    left: 559px;
    border-radius: 23.5px;
    background: rgba(227, 183, 72, 1);
}

.cards h4{
    width: 73px;
height: 23px;
top: 1923px;
left: 583px;
font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0em;
text-align: center;
}