@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: var(--black-color);
   color: var(--white-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --primary-color: #E3B748;
  --black-color : #111;
  --white-color: #FFF;
  --secondary-color:#1D1D1D;
}
a {
  color: var(--white-color);
  text-decoration: none;
}
button{
  cursor: pointer;
}
  
